<img class="puppyBG" src="{{bgImage}}">
<main>
    <div class="overlay">
        <h1>404 - CUTE OVERLOAD</h1>
        <p>But we couldn't find the page you were looking for. We'll try harder next time...</p>
    </div>
    {{> navigation}}
</main>