<main>
    <div class="overlay">
        <h1>Whatchoo wanna know?</h1>
        <p>You think you know everything about puppies? Well, you have no idea!</p>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/cats/">Broken</a>
    </nav>
    <img id="pupimg" src='/img/aboutpuppy.jpg' />
</main>