<img class="puppyBG" src="{{bgImage}}">
<main>
    <div class="overlay">
        <h1>Whatchoo wanna know?</h1>
        <p>You think you know everything about puppies? Well, you have no idea!</p>
    </div>
    {{> navigation}}
</main>