<img class="puppyBG" src="{{bgImage}}">
<main class="dark">
    <div class="overlay">
        <h1>Oh hello there!</h1>
        <p>You look like you could use a puppy! Have you heard about the benefits of having a super cute lil puppy pal at your side?</p>
    </div>
    {{> navigation}}
</main>