<img class="puppyBG" src="{{bgImage}}">
<main class="dark">
    <div class="overlay">
        <h1>Upload your puppy!</h1>
        <p>Show us your cutest puppy pictures!</p>
    </div>
    <h3>Thanks for the cuteness!</h3>
    {{> navigation}}
</main>