body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    margin: 0;
    line-height: 1em;
}

main {
    color: #FFF;
    display: inline-block;
    position: relative;
    width: 100%;
}

main.dark { color: #000; }

h1 {
    font-size: 7.0vw;
    text-transform: uppercase;
    line-height: .95em;
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-right: 160px;
    word-break: break-word;
}

nav {
    position: absolute;
    right: 60px;
    top: 50px;
}

nav a {
    display: block;
    color: #FFF;
    font-size: 18px;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover { color: #f0d9af; }

main.dark nav a { color: #000; }
main.dark nav a:hover { color: #ff3366; }

.uploadForm { padding: 0 20px; }

.btn-file {
    position: relative;
    overflow: hidden;
}

btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

img.puppyBG {
  min-height: 100%;
  min-width: 480px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 480px) {
  img.puppyBG {
    left: 50%;
    margin-left: -50%;
  }
}